<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-buy</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>    
</head>
<body>
        <img src="../product_images/access denied.jpg" class="h-100 w-100 mx-115" />
        <h1 class="text-black text-4xl font-bold mx-138">Access Denied</h1>
        <p class="text-2xl font-semibold mx-105 my-2">Sorry, You are not supposed to access this page</p>
</body>
</html>